<div class="ui container">
    {{#link-to "home" class="ui button"}}Home{{/link-to}}
    {{#link-to "developers" class="ui button"}}Developers{{/link-to}}
    {{#link-to "projects" class="ui button"}}Projects{{/link-to}}


  {{outlet}}
</div>