<div>
  {{#ui-form newValue=model  validation="save" cancel="cancel"}}
    <div class="field">
      <div id="div-frmEdit-identity" class="ui input">
        {{input id="frmEdit-identity" value=model.identity placeholder="Identity"}}
      </div>
    </div>
  {{/ui-form}}
</div>
{{outlet}}