

<div  class="container border border-primary pb-4 rounded panel">
  <div>
    <h4 class="text-center border rounded" style="color: #FFFFFF;padding: 25px;width: 102.7%;margin-left: -15px;background-color: #0e90d2">Contacts</h4>
  </div>
{{outlet}}

</div>